.anasayfa {
    margin-left: 300px;
    width: 1200px;
    height: 750px;
    max-width: 1200px;
    max-height: 750px;
    background-color: #212121;
    font-family: "Kanit", sans-serif;
    overflow: auto;
    margin-top: 100px;
    border-radius: 25px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.body {
    height: 20vh;
    width: 100%;
    padding-top: 80px;
}

.container {
    padding-top: 20px;
    min-height: 10px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(5, minmax(150px, 180px));
    justify-content: center;
    align-items: stretch;
}

.card {
    width: 150px;
    height: 200px;
    position: relative;
    padding: 10px;
    background: white;
    display: grid;
    grid-template-rows: 8fr 1fr 1fr;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.057);
    transition: 0.2s ease-in;
    border: 3px solid #FBD148;
    border-radius: 25px;
}

.card .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.card .card-content .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: rgb(96, 211, 2);
}

.card .card-content .top-bar .float-right {
    float: right;
}

.card .card-content .img {
    width: 50%;
    justify-content: bottom;
    align-content: bottom;
    text-align: center;
}

.card .card-content .img img {
    border-radius: 10px;
    max-width: 1800%;
    max-height: 550px;
    margin-left: 5px;
    margin-top: 50px;
}

.card .card-description {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-align: center;
}

.card .card-description .title {
    text-transform: uppercase;
    text-align: center;
}

.card .card-footer {
    text-transform: uppercase;
    padding: 0.3em;
    border-top: 0.5px solid #ececec;
    letter-spacing: 0.1em;
    font-size: 11px;
    color: white;
    justify-items: left;
    align-items: center;
    display: flex;
}

.card .card-footer .span {
    margin: 5px;
    width: auto;
    background: #dedede;
    padding: 4px 7px;
    border-radius: 2px;
    font-weight: 100;
    cursor: pointer;
}

.card .card-footer .span:hover {
    background: #aaaaaa;
}

.card:hover {
    transition: 0.2s ease-in;
    transform: translateY(-10px);
    box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);
}

.marketyazisi {
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 50px;
    color: black;
    background-color: #FFCE01;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    align-items: center;
}

.itemscode {
    display: none;
}


.fa-times-circle{
    font-size: 60px;
    color: red;
}